{% extends "base.html" %}
{% block content %}
    {% for article in articles %}
        {{ article | safe }}
        <hr />
    {% endfor %}

<div class="bottom-content">
    <div class="col-sm-2 col-sm-offset-2">
        <img id="profile-picture" src="{{ url_for('static', filename='profile.png') }}" />
    </div>
    <div class="col-sm-6">
        <h4>Written by Axel Martin</h4>
        <p>I am a french engineering school student passionated by Python and new technologies.
        I like a lot of things, think about a lot of things, and try to share as much as possible with
        people.</p>
    </div>
</div>
{% endblock %}
